@import '../__builtins__/styles/common.scss';

$array-base-prefix-cls: '#{$formily-prefix}-array-base';

.#{$array-base-prefix-cls}-addition {
  transition: $--all-transition;
}

.#{$array-base-prefix-cls}-remove,
.#{$array-base-prefix-cls}-move-down,
.#{$array-base-prefix-cls}-move-up {
  font-size: $--font-size-base;
  transition: $--all-transition;
  font-size: 16px;
  &:hover {
    cursor: pointer;
    color: $--color-primary;
  }
}

.#{$array-base-prefix-cls}-sort-handle {
  font-size: $--font-size-base;
  cursor: move;
}
