$formily-prefix: 'formily-naive';
$namespace: 'el';
@import './naive.scss';
@import './mixin.scss';

$--font-size-extra-small: var(--el-font-size-extra-small);
$--font-size-extra-large: var(--el-font-size-extra-large);
$--font-size-large: var(--el-font-size-large);
$--font-size-medium: var(--el-font-size-medium);
$--font-size-small: var(--el-font-size-small);
